{% extends "Base.html" %}

{% block content %} 

<form class="form-inline">
    <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputGroupUsername2" placeholder="username" name="username">
  
    <label class="sr-only" for="inlineFormInputGroupPassword2">Password</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">@</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroupPassword2" placeholder="Password" name="password">
    </div>
  
    <div class="form-check mb-2 mr-sm-2">
      <input class="form-check-input" type="checkbox" id="inlineFormCheck">
      <label class="form-check-label" for="inlineFormCheck">
        Remember me
      </label>
    </div>
  
    <button type="submit" class="btn btn-primary mb-2" onclick="login(username,password)">Submit</button>
  </form>


  {% endblock %}